.home-chatbot-button-container {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 100;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}

.home-chatbot-button {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s;
}

.home-chatbot-button:hover {
  transform: scale(1.1);
}

.home-chatbot-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 70px;
  right: 5px;
  z-index: 100;
  gap: 10px;
}

.icon-wrapper-botbtn {
  position: relative;
  display: flex;
  align-items: center;
}

.maru-option,
.naru-option {
  width: 50px;
  height: 50px;
  padding-bottom: 5px;
}

.balloon-botbtn {
  position: absolute;
  right: 50px;
  bottom : 20px;
  display: flex;
  align-items: center;
}

.balloon-image-botbtn {
  width: 185px;
  height: 55px;
}

.balloon-text-botbtn {
  position: absolute;
  font-size: 14px;
  color: #555;
  top: 10px;
  left: 10px;
  line-height: 1.2;
}

.bold-text-botbtn {
  font-weight: bold;
}
