@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f8f6e9;
    box-sizing: border-box;
    overflow-x: hidden;
    background-image: url("../assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.chat-window {
    width: 100%;
    max-width: 390px;
    height: 100vh; /* 100% 높이로 설정 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: hidden; 
    margin-bottom: 40px;
}

.chat-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px; 
}

.chat-title {
    font-family: 'Pretendard-Regular', sans-serif;
    font-size: 15px;
    color: #4d4d4d;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 10px;
}

.chat-header {
    height: 40px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: #FFE254;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100vw;
    /* max-width: 390px; */
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 0px;
    position: relative;
}

.chat-messages {
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: hidden; 
}

.message-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}
  
.user-wrapper {
    align-items: flex-end;
}

.message {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    display: inline-block;
}

.bot {
    background-color: #ffffff; 
    border: 2px solid #B8CE86; 
    align-self: flex-start; 
    border-radius: 15px 15px 15px 0px;
}

.user {
    background-color: #FFE254;
    align-self: flex-end;
    text-align: right;
    border-radius: 15px 15px 0px 15px;
}

.message-time {
    font-size: 12px;
    color: #888;
    margin-top: 2px;
    padding-top: 0;
    text-align: right;
}

.chat-input {
    display: flex;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    width: 100%; /* 채팅 입력창의 너비를 전체로 설정 */
    max-width: 350px;
    height: 30px;
    border: 1px solid #B8CE86;
    margin-top: 10px; 
    position: absolute; 
    bottom: 20px;
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 100; 
}

  
textarea {
    flex-grow: 1;
    padding: 5px;
    border-radius: 20px;
    border: none;
    resize: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    height: 100%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.send-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
