@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

.password-page-background {
    font-family: 'Pretendard-Regular', sans-serif;
    background-image: url("../assets/background.png"); /* 배경 이미지 경로 */
    background-size: cover; /* 이미지가 화면에 맞게 조정되도록 설정 */
    background-repeat: no-repeat; /* 이미지 반복을 방지 */
    background-position: center; /* 이미지 위치를 중앙으로 설정 */
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .password-title {
    font-size: 24px;
    font-weight: bold;
    color: #b48863;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .password-form {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .password1-label {
    font-size: 16px;
    font-weight: bold;
    color: #666;
    margin-bottom: 10px;
  }
  
  .password-input-container {
    display: flex;
    width: 100%;
    position: relative;
  }
  
  .password-input-container input {
    width: calc(100% - 100px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .check-password-btn {
    width: 80px;
    margin-left: 10px;
    background-color: #8bc34a;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
  }
  
  .validation-error {
    color: red;
    font-size: 12px;
    margin-top: 10px;
  }
  
  .password1-submit-btn {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #8bc34a;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .paw-icon {
    width: 18px;
    height: 18px;
    margin-left: 8px;
  }
  