.find-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url("../assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    box-sizing: border-box;
}

.find-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    background-color: rgba(255, 255, 240, 0.7);
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
    box-sizing: border-box;
}

.email-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.input-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}

.input-wrapper input {
    width: 240px;
    height:40px; 
    padding: 10px;
    border: 2px solid #c7d2ad;
    border-radius: 8px;
}

.send-code-btn {
    width: 28%; 
    height: 40px; 
    font-size: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    /* padding: 10px;  */
    cursor: pointer;
    margin-left: 2%;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
