/* Pretendard 폰트 설정 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  color: #855b3b;
}

.logo {
  margin-top: 70px;
  width: 280px;
}

a {
  text-decoration: none;
}

/* 로그인 및 찜 목록 버튼 */
.login-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
}

.login-btn-home {
  font-size: 20px;
  color: #5d5d5d;
  background: none; /* 배경색 제거 */
  border: none; /* 테두리 제거 */
  cursor: pointer;
  font-family: "Pretendard-Regular", sans-serif;
  font-weight: bold;
}

.login-btn-home:hover {
  color: #485127; /* 호버 시 텍스트 색상 변경 */
  font-weight: boler; /* 굵기 변경 없음 */
  background: none; /* 배경색 없음 */
  transition: color 0.3s; /* 색상 변경 애니메이션 */
  transform: scale(1.1); /* 호버 시 버튼 크기 확대 */
}


.homepage-background {
  width: 100%;
  height: 100%;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* 공통 스타일 */
.home-chatbot-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-wrapper {
  text-align: center;
  top: 60px;

}

/* Maru 버튼 및 말풍선 스타일 */
.maru-option-home{
  width: 100px;
  height: 100px;
}

.maru-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* 오른쪽 정렬 */
}

.balloon-maru {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}

.balloon-image-maru {
  width: 210px;
  height: 70px;
   position: relative; /* 텍스트 절대 위치를 위해 relative 설정 */
}

.balloon-text-maru {
  position: absolute;
  margin-left: 5px;
  left: 10px;
  font-size: 16px;
  color: #555;
  line-height: 1.2;
}

.bold-text-maru {
  font-weight: bold;
}

/* Naru 버튼 및 말풍선 스타일 */
.naru-option-home{
  width: 100px;
  height: 100px;
}

.naru-wrapper {
  margin-top: 25px;
  display: flex;
  flex-direction: row-reverse; /* 캐릭터 이미지를 오른쪽에 배치 */
  align-items: center;
  justify-content: flex-start;
}

.balloon-naru {
  display: flex;
  flex-direction: row; 
  align-items: center;
  margin-right: 20px; /* 말풍선을 왼쪽에 위치 */
  position: relative;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}

.balloon-image-naru {
  /* margin-left: 20px; */
  width: 220px;
  height: 80px;
  position: relative;
}

.balloon-text-naru {
  position: absolute;
  margin-left: 45px;
  margin-top: 5px;
  top: 10px;
  font-size: 17px;
  color: #555;
  line-height: 1.2;
  .balloon-text-naru {
    position: absolute;
    margin-left: 45px;
    margin-top: 5px;
    top: 10px;
    font-size: 17px;
    color: #555;
    line-height: 1.2;  
}

.bold-text-naru {
  font-weight: bold;
}
