/* Pretendard 폰트 설정 */ 
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  color: #855b3b;
}

.logo-home {
  margin-top: 50px;
  margin-left: 25px;
  width: 320px;
}

a {
  text-decoration: none;
}

.login-buttons-home {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}

.login-btn-home {
  font-size: 20px;
  color: #5d5d5d;
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Pretendard-Regular", sans-serif;
  font-weight: bold;
}

.login-btn-home:hover {
  color: #485127;
  font-weight: boler;
  background: none;
  transition: color 0.3s;
  transform: scale(1.1);
}

.homepage-background {
  width: 100%;
  height: 100%;
  background-image: url("../assets/background.png");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 챗봇 옵션 공통 스타일 */
.home-chatbot-options {
  display: flex;
  flex-direction: column;
  gap: 30px; /* 마루와 나루의 사이간격  */
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Maru 스타일 */
.maru-container {
  display: flex;
  align-items: center;
}

.maru-container a {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.balloon-maru {
  /* margin-right: 20px; */
  position: relative;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}

.maru-character {
  width: 100px;
  height: 100px;
}

.maru-character:hover {
  transform: scale(1.1); /* 1.1배 커짐 */
  transition: transform 0.3s ease; /* 부드러운 애니메이션 효과 */
}

/* Naru 스타일 */
.naru-container {
  display: flex;
  align-items: center;
}

.naru-container a {
  display: flex;
  align-items: center;
}

.balloon-naru {
  /* margin-left: 20px; */
  position: relative;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}

.naru-character {
  width: 95px;
  height: 95px;
}

.naru-character:hover {
  transform: scale(1.1); /* 1.1배 커짐 */
  transition: transform 0.3s ease; /* 부드러운 애니메이션 효과 */
}

/* 말풍선 공통 스타일 */
.balloon-image-maru,
.balloon-image-naru {
  width: 225px;
  height: 80px;
}

.balloon-text-maru{
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 17px;
  color: #555;
  line-height: 1.5;
}

.balloon-text-naru {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 17px;
  color: #555;
  line-height: 1.5;
}

.bold-text-maru,
.bold-text-naru {
  font-weight: bold;
}

/* Swiper 스타일 */
.home-swiper-section {
  width: 94%;
  margin-top: 280px;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 240, 0.5);
  border-radius: 8px;
}

.home-bottom-text {
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: bold;
}

.homeSwiper {
  width: 95%;
  margin: 0 auto;
}

.homeSwiper .swiper-slide {
  text-align: center;
  font-size: 10px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
 
}

.homeSwiper .swiper-slide img {
  display: block;
  width: 80% !important;
  height: 100% !important;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.homeSwiper .swiper-button-prev{
  color: #ffffff;
  background-color: #FD7962;
  width: 30px;
  height: 30px;
  --swiper-navigation-size: 17px;
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  /* 추가: 위치 이동 */
  position: absolute; /* 또는 relative, 필요에 따라 설정 */
  left: 0px; /* 원하는 만큼 이동 */
}

.homeSwiper .swiper-button-next {
  color: #ffffff;
  background-color: #FD7962;
  width: 30px;
  height: 30px;
  --swiper-navigation-size: 17px;
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  /* 추가: 위치 이동 */
  position: absolute; /* 또는 relative, 필요에 따라 설정 */
  right: 0px; /* 원하는 만큼 이동 */
}

.homeSwiper .swiper-pagination-fraction {
  font-size: 10px;
  margin-top:50px;
}