@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.likedPageBG {
  width: 100%;
  height: 100vh; /* 화면 전체 높이 */
  background-image: url("../assets/findPageBG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px; /* 상단 여백 추가 */
  overflow: hidden;
}
.likedGallery {
  display: inline-block;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  width: 90%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}
.likedImg {
  width: 120px;
  height: 120px; /* 이미지를 조금 더 크게 */
  object-fit: cover; /* 이미지가 영역을 넘지 않도록 크기 조정 */
  border-radius: 8px;
  margin-left: 20px;
}

.likedGallery::-webkit-scrollbar {
  width: 8px;
}

.likedGallery::-webkit-scrollbar-thumb {
  background-color: #855b3b; /* 스크롤바 색상 */
  border-radius: 4px;
}

.likedGallery::-webkit-scrollbar-track {
  background-color: transparent; /* 스크롤바 트랙 배경 */
}

.imageWrapper {
  position: relative;
  display: inline-block;
}

.likedCard {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-content: center;
  width: 100%;
  border: 2px solid #b8ce86;
  border-radius: 8px;
  box-shadow: 0 0 0 12px rgba(245, 245, 245, 0.518);
  height: 27%;
  margin-bottom: 34px;
  background-color: rgba(245, 245, 245, 0.518);
  transition: transform 0.2s ease-in-out; /* 호버 애니메이션 추가 */
}
.likedCard:hover {
  transform: scale(1.05); /* 이미지에 호버 시 확대 효과 */
}
.likedTxt {
  display: grid;
  margin-left: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  align-content: center;
  font-size: 12px;
}
.likedName {
  font-size: 16px;
}
.noneImg {
  position: absolute; /* 부모 요소 기준으로 절대 위치 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 정확한 정중앙 배치 */
  max-width: 300px;
  height: auto;
  object-fit: contain;
}

/* 챗봇 페이지로 가는 버튼 */
.chatbot-button-container {
  position: absolute; /* mobile-container 안에서 위치 고정 */
  right: 20px; /* 오른쪽에서 20px 떨어진 위치 */
  bottom: 10px; /* 아래쪽에서 20px 떨어진 위치 */
  z-index: 100; /* 다른 요소 위에 표시되도록 설정 */
}

.chatbot-button {
  width: 60px; /* 버튼 크기 조정 */
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s; /* 클릭 시 애니메이션 효과 */
}

.chatbot-button:hover {
  transform: scale(1.1); /* 호버 시 버튼 확대 */
}
