@import url("https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/static/pretendard.css"); /* Pretendard 폰트 임포트 */

@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body,
* {
  font-family: "Pretendard", sans-serif; /* 기본 텍스트를 Pretendard로 설정 */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.login-logo {
  width: 200px;
  height: auto;
  margin-bottom: 50px;
}

/* h1 {
  font-family: 'KCC-Ganpan', sans-serif; 
  font-size: 35px;
  color: #c7d2ad;
  margin-bottom: 20px;
  -webkit-text-stroke: 0.3px #855b3b;
} */

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 90%;
  background-color: rgba(255, 255, 240, 0.7);
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
  align-items: center;
}

label {
  margin-bottom: 8px;
  color: #855b3b;
  text-align: left;
  width: 100%;
}

.password-label {
  text-align: left;
  margin-top: 10px; /* 비밀번호 입력창 위에 여백 추가 */
}

.input-container {
  position: relative;
  width: 100%;
}

input {
  padding: 10px;
  margin-bottom: 40px; /* 간격을 20px로 조정 */
  border: 2px solid #c7d2ad;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.email-domain {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #c7d2ad;
  pointer-events: none;
  font-size: 14px;
  opacity: 0.8;
}

.find-link {
  margin-bottom: 8px;
  color: #855b3b;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 5px;
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #fffff0;
  border: 2px solid #c7d2ad;
  border-radius: 10px;
  font-size: 20px;
  color: #855b3b;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 130px; /* 버튼의 적절한 너비 설정 */
  height: 50px; /* 버튼의 높이 설정 */
  margin-top: 15px;
}

.login-btn img.jellyicon {
  width: 20px; /* 이미지 크기 조정 */
  height: 20px;
  margin-left: 10px; /* 이미지와 텍스트 사이 간격 설정 */
}

.login-btn:hover {
  background-color: #e0e8c0;
  transform: translateY(-2px);
}

.validation-error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  align-self: flex-start;
  position: relative;
  z-index: 10;
}

.social-login-box {
  display: flex;
  margin-top: 20px;
}

.social-login {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.social-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 45%;
  background: none;
}

.social-login img {
  width: 40px;
  height: 40px;
}

.kakao-login {
  background-color: transparent;
}

.google-login {
  background-color: transparent;
}

.signup-link {
  display: inline; /* 링크가 텍스트만큼의 크기만 차지하게 설정 */
  text-decoration: none;
}

.signup-link .not-member {
  font-size: 14px;
  color: #855b3b;
  text-decoration: underline;
}

/* 챗봇 페이지로 가는 버튼 */
.chatbot-button-container {
  position: absolute; /* login-container 안에서 위치 고정 */
  right: 20px; /* 오른쪽에서 20px 떨어진 위치 */
  bottom: 10px; /* 아래쪽에서 10px 떨어진 위치 */
  z-index: 100; /* 다른 요소 위에 표시되도록 설정 */
}

.chatbot-button {
  width: 60px; /* 버튼 크기 조정 */
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s; /* 클릭 시 애니메이션 효과 */
}

.chatbot-button:hover {
  transform: scale(1.1); /* 호버 시 버튼 확대 */
}

.validation-error-login {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  position: relative;
  z-index: 10;
}
