@import url("https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/static/pretendard.css"); /* Pretendard 폰트 임포트 */

@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body,
* {
  font-family: "Pretendard", sans-serif; /* 기본 텍스트를 Pretendard로 설정 */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.login-logo {
  width: 200px;
  height: auto;
  margin-bottom: 50px;
  display: block;
  position: absolute; /* 절대 위치로 변경 */
  top: 170px; /* 상단에서의 거리 */
  left: 50%;
  transform: translateX(-50%); /* 가운데 정렬 */
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 90%;
  background-color: rgba(255, 255, 240, 0.7);
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
  /* align-items: stretch;   */
}

label {
  margin-bottom: 8px;
  color: #855b3b;
  text-align: left;
  width: 100%;
}

.password-label-login {
  text-align: left;
  margin-top: 10px; /* 비밀번호 입력창 위에 여백 추가 */
}

.input-container-login {
  position: relative;
  width: 100%;
}

input {
  padding: 10px;
  margin-bottom: 40px; /* 간격을 20px로 조정 */
  border: 2px solid #c7d2ad;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.email-domain-login {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #c7d2ad;
  pointer-events: none;
  font-size: 14px;
  opacity: 0.8;
}

.find-link-login {
  margin-bottom: 8px;
  color: #855b3b;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 5px;
}

.login-btn-login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color:#cceb5c;
  border: 2px solid #ffffff;
  border-radius: 10px;
  font-size: 20px;
  color: #855b3b;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 130px; /* 버튼의 적절한 너비 설정 */
  height: 50px; /* 버튼의 높이 설정 */
  margin-top: 15px;
  margin-bottom: 20px;;
}

.login-btn-login:hover {
  background-color: #a1b948;
  /* transform: translateY(-2px); */
}

.social-login-box {
  display: flex;
  margin-top: 10px;
}

.social-login-lg {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.social-login-lg button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 45%;
  background: none;
}

.social-login-lg img {
  width: 40px;
  height: 40px;
}

.kakao-login-lg {
  background-color: transparent;
}

.google-login-lg {
  background-color: transparent;
}

.signup-link-login {
  display: inline; /* 링크가 텍스트만큼의 크기만 차지하게 설정 */
  text-decoration: none;
  margin-bottom: 30px; /*아래에서 로그인 폼을 밀어주고있어용*/
}

.signup-link-login .not-member-login {
  font-size: 14px;
  color: #855b3b;
  text-decoration: underline;
}

.not-member-login {
  text-decoration: underline;
  margin-top: 15px;

}

.signup-text-login {
  display: block;  /* 다음 줄로 내리기 */
  font-weight: bold;  /* 글씨 굵게 */
  margin-top: 5px;  /* 위 텍스트와의 간격 조절 (선택사항) */
  font-size: 16px;
}

.signup-text-login:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease; 
}

.validation-error-login {
  color: red;
  font-size: 14px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  z-index: 10;
  width: 100%;      /* 전체 너비 사용 */
  text-align: left; /* 왼쪽 정렬 */
  align-self: flex-start; /* flex 컨테이너 내에서 왼쪽 정렬 */
}

.validity-message {
  color: red;
  font-size: 14px;
  position: relative;
  margin-top: -5px;
}