@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
.petDetail {
  background-image: url("../assets/detailBG.png");
  width: 100%;
  height: 100%;
}

.detailBox {
  background-color: white;
  width: 345px;

  border: 0.5px solid lightgray;
  flex-direction: column;
  justify-items: flex-start;
  gap: 5px;
  display: inline-flex;
  align-items: center;
  margin-top: 35px;
  border-radius: 15px;
}
.detailProfilBox {
  position: relative;
  text-align: left;
  width: 95%;
  margin-top: 10px;
  height: 8%;
  display: flex;
  align-items: center;
}
.detailProfilIcon {
  width: 50px;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.detailProfilTxtbox {
  width: 100%;
  height: 50%;
  overflow: hidden;
  display: flex;
}
.detailProfilTxt {
  width: 60px;
  margin-left: 10px;
}

.detailPhotoBox {
  width: 100%;
  height: 240px;
  overflow: hidden;
  display: flex;
  background-color: antiquewhite;
}

.detailPhoto {
  object-fit: scale-down;
  width: 100%;
  background-color: whitesmoke;
}

.detailInsideBox {
  width: 80%;
  height: 30%;
  position: relative;
  bottom: 10px;
}

.detailIconBox {
  width: 80%;
  text-align: left;
  display: flex;
}

.detailIcon {
  width: 20px;
  height: 20px;
  margin-top: 20px;
  margin-right: 12px;
}
.detailHeartIcon {
  margin-top: 20px;
  margin-right: 12px;
  width: 21px;
  height: 20px;
  background-image: url("../assets/heart-outline.png");
  background-size: cover;
  transition: transform 0.2s ease-in-out; /* 애니메이션 효과 */
}
.detailFilledHeart {
  background-image: url("../assets/heart-filled.png");
}
.detailAnimateHeart {
  animation: pulse 0.3s ease-in-out;
}

.detailHashTag {
  margin-top: 15px;
  font-size: 12px;
  text-align: left;
  color: black;
}
.detailInfo {
  margin-top: 10px;
  text-align: left;
  font-size: 12px;
  color: #9c9b9b;
}

.detailBottomTxt {
  width: 80%;
  display: flex;
  margin-left: 26px;
  margin-top: 30px;
  color: #4a4a4a;
  margin-bottom: 20px;
}
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
}

.detailSwiper .swiper-slide {
  text-align: center;
  font-size: 10px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.detailSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.detailSwiper .swiper {
  width: 80%;
  height: 100px;
  margin: 20px auto;
}

.detailSwiper .swiper-button-prev,
.detailSwiper .swiper-button-next {
  color: white !important;
  background-color: #b8ce86;
  width: 15px;
  height: 20px;
  --swiper-navigation-size: 10px;
  border-radius: 5px;
}

.detailSwiper .swiper-pagination-fraction,
.detailSwiper .swiper-pagination-custom,
.detailSwiper .swiper-horizontal > .detailSwiper .swiper-pagination-bullets,
.detailSwiper .swiper-pagination-bullets.swiper-pagination-horizontal {
  font-size: 12px;
}

.detail-modal-content {
  background-color: beige;
  width: 200px;
  height: 120px;
  border-radius: 15px;
  display: grid;
}

.modal-text {
  margin-top: 30px;
  position: relative;
}
.modal-close-btn {
  cursor: pointer;
  margin-bottom: 20px;
}
p {
  margin-top: 30px;
}
