.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* padding: 20px; */
  width: 100%;
  height: 100%;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.signup-title {
  /* font-family: "KCC-Ganpan", sans-serif; */
  font-size: 31px;
  color: #855b3b;
  width: 100%;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 5px;
  padding-left: 77px;
  /* letter-spacing: 3px; */
  /* 글자 사이간격 */
}

.signup-subtitle {
  font-size: 14px;
  color: #855b3b;
  width: 100%;
  text-align: left;
  padding-left: 80px;
  margin-top: 0px; /* 간격을 줄여서 바로 아래에 붙이도록 설정 */
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 340px; /* 적당한 최대 너비 설정 */
  width: 100%; /* 100%가 아닌 적절한 비율로 너비를 설정 */
  background-color: rgba(255, 255, 240, 0.7);
  padding: 10px;
  border-radius: 8px;
  align-items: center;
  margin: 0 auto; /* 폼을 중앙 정렬 */
}

.signup-label {
  margin-top: 15px;
  color: #855b3b;
  width: 100%;
  text-align: left;
}

.input-container {
  position: relative;
  width: 100%;
}

input {
  padding: 10px;
  padding-right: 80px;
  margin-bottom: 20px;
  border: 2px solid #c7d2ad;
  border-radius: 8px;
  width: 100%;
}

.signup-email-domain {
  position: absolute;
  right: 90px;
  top: 50%;
  transform: translateY(-50%);
  color: #c7d2ad;
  pointer-events: none;
  font-size: 14px;
}

.check-code-btn-box {
  width: 50%;
  height: 100%;
  background-color: transparent;
  display: flex;
}

.check-code-box {
  display: block;
}
.check-code-label {
  display: flex;
}

.check-email {
  position: relative;
  right: 10px;
  width: 60px;
  height: 80%;
  top: 40%;
  transform: translateY(-50%);
  font-size: 12px;
  background-color: #cceb5c;
  color: #404040;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  right: -3px;
}
.send-signup-code-btn {
  position: relative;
  right: 10px;
  width: 90px;
  top: 50%;
  /* transform: translateY(-50%); */
  font-size: 12px;
  background-color: #cceb5c;
  color: #404040;
  border: none;
  border-radius: 5px;
  padding: 5%;
  cursor: pointer;
  margin-left: 1px;
  right: -3px;
}
.submit-code-btn {
  position: relative;
  right: 10px;
  width: 60px;
  height: 80%;
  top: 50%;
  /* transform: translateY(-50%); */
  font-size: 12px;
  background-color: #cceb5c;
  color: #404040;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  right: -3px;
  margin-left: 3px;
  padding: 5%;
}

.signup-btn {
  padding: 10px 20px;
  background-color: #cceb5c;
  border-radius: 10px;
  font-size: 18px;
  color: #404040;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.signup-btn:hover {
  background-color: #a1b948;
}

.validation-error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  z-index: 1001;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.signup-form {
  background-color: #fffff0b3;
  border-radius: 8px;
  max-width: 340px;
  padding: 10px;
  margin: 0px;
  padding-bottom: 25px;
}
