@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.sponsorPageBG {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/background.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px; /* 카드 사이 간격 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
    overflow-x: hidden; /* 가로 스크롤 비활성화 */
}

/* 동물자유연대 카드 스타일 */
.sponsorCard1 {
    width: 95%;
    max-width: 400px;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-top: 430px;
}

.sponsorCardBox1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsorHeader1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.sponsorName1 {
    font-size: 20px;
    font-weight: bold;
    color: #5a5a5a;
}

.sponsorButton1 {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #fffff0;
    border: 1px solid #c7d2ad;
    border-radius: 10px;
    color: #855b3b;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sponsorButton1:hover {
    background-color: #a1b56a;
    border: 1px solid  #fffff0;
    border-radius: 10px;
    color: #ffffff;
}

.sponsorImgWrapper1 {
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
}

.sponsorImg1 {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.sponsorTxt1 {
    font-size: 14px;
    color: #707070;
    text-align: justify;
    line-height: 1.5; /* 행간(줄위아래틈) */
}

/* 동물권행동 카라 카드 스타일 */
.sponsorCard2 {
    width: 95%;
    max-width: 400px;
    border-radius: 8px;
    padding: 20px;
    text-align: center;

}

.sponsorCardBox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsorHeader2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.sponsorName2 {
    font-size: 20px;
    font-weight: bold;
    color: #5a5a5a;
}

.sponsorButton2 {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #fffff0;
    border: 1px solid #c7d2ad;
    border-radius: 10px;
    color: #855b3b;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sponsorButton2:hover {
    background-color: #a1b56a;
    border: 1px solid  #fffff0;
    border-radius: 10px;
    color: #ffffff;
}

.sponsorImgWrapper2 {
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
}

.sponsorImg2 {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.sponsorTxt2 {
    font-size: 14px;
    color: #707070;
    text-align: justify;
    line-height: 1.5; /* 행간(줄위아래틈) */
}

/* 동물보호단체 라이프 카드 스타일 */
.sponsorCard3 {
    width: 95%;
    max-width: 400px;
    border-radius: 8px;
    padding: 20px;
    text-align: center;

}

.sponsorCardBox3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsorHeader3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.sponsorName3 {
    font-size: 20px;
    font-weight: bold;
    color: #5a5a5a;
}

.sponsorButton3 {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #fffff0;
    border: 1px solid #c7d2ad;
    border-radius: 10px;
    color: #855b3b;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sponsorButton3:hover {
    background-color: #a1b56a;
    border: 1px solid  #fffff0;
    border-radius: 10px;
    color: #ffffff;
}

.sponsorImgWrapper3 {
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
}

.sponsorImg3 {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.sponsorTxt3 {
    font-size: 14px;
    color: #707070;
    text-align: justify;
    line-height: 1.5; /* 행간(줄위아래틈) */
}