/* LoginForm.css */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/loginbackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-container h1 {
  font-size: 35px;
  color: #c7d2ad;
  margin-bottom: 20px;
  -webkit-text-stroke: 0.3px #855B3B;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 90%;
  background-color: rgba(255, 255, 240, 0.9);
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
  align-items: center;
}

label {
  margin-bottom: 8px;
  color: #855B3B;
  text-align: left;
  width: 100%;
}

input {
  padding: 10px;
  margin-bottom: 10px; /* 간격 조정 */
  border: 2px solid #c7d2ad;
  border-radius: 8px;
  width: 100%;
}

/* 아이디/비밀번호 찾기 링크 스타일 */
.find-link {
  margin-bottom: 20px;
  color: #855B3B;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  font-family: "KCC-Ganpan", sans-serif;
  align-self: flex-start; /* 왼쪽 정렬 */
}

/* 로그인 버튼 스타일 */
.login-btn {
  padding: 10px 20px;
  background-color: #fffff0;
  border: 5px solid #c7d2ad;
  border-radius: 20px;
  font-size: 21px;
  color: #855B3B;
  cursor: pointer;
  font-family: "KCC-Ganpan", sans-serif;
  transition: background-color 0.3s, transform 0.3s;
  width: 150px;
}

.login-btn:hover {
  background-color: #e0e8c0;
  transform: translateY(-2px);
}
