@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  color: #855b3b;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f4e6; /* 페이지 배경색 */
  flex-direction: column;
}

.mobile-container {
  width: 100%;
  max-width: 393px;
  height: 812px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.naviBar {
  font-size: 12px;
  width: 100%;
  max-width: 393px;
  height: 40px;
  background-color: #fffff5;
  border: 1px solid #b8ce86;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.naviBar .icon {
  width: 14px; /* 원하는 아이콘 너비 */
  height: 14px; /* 원하는 아이콘 높이 */
}



.backButton {
  font-family: "Pretendard-Regular";
  color: #855b3b;
  position: relative;
  top: 30px;
  right: 150px;
}

/* 모바일 대응 미디어 쿼리 */
@media (max-width: 393px) {
  .mobile-container, .naviBar {
    width: 100%;
  }
}
